<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="NAMU">

	<!-- 교직원 추가 기능 -->
	<insert id="insertStaff" parameterType="com.namuuniv.vo.StaffVO">
		INSERT INTO STAFF (ID, PASSWORD, NAME, BIRTH_DATE, GENDER
		                , ADDRESS, TEL, HIRE_DATE, DEPT)
		VALUES (STAFF_SEQ.NEXTVAL, TO_CHAR(#{birthDate}, 'YYYYMMDD'), #{name}, #{birthDate}, #{gender}
		     , #{address}, #{tel}, #{hireDate, jdbcType=DATE}, #{dept})
	</insert>
	
	<!-- 학생 추가 기능 -->
	<insert id="insertStudent" parameterType="com.namuuniv.vo.StudentVO">
		INSERT INTO STUDENT (ID, DEPT_ID, PASSWORD, NAME, BIRTH_DATE
		                  , GENDER, ADDRESS, TEL, GRADE, SEMESTER
		                  , ENTRANCE_DATE, GRADUATION_DATE)
		VALUES (STUDENT_SEQ.NEXTVAL, #{deptId}, TO_CHAR(#{birthDate}, 'YYYYMMDD'), #{name}, #{birthDate}
		      , #{gender} , #{address}, #{tel}, #{grade}, #{semester}
		      , #{entranceDate}, #{graduationDate})		
	</insert>
	
	<!-- 교수 추가 기능 -->
	<insert id="insertProfessor" parameterType="com.namuuniv.vo.ProfessorVO">
		INSERT INTO PROFESSOR (ID, PASSWORD, NAME, BIRTH_DATE, GENDER
		                     , ADDRESS, TEL, HIRE_DATE, DEPT_ID)
		VALUES (PROFESSOR_SEQ.NEXTVAL, TO_CHAR(#{birthDate}, 'YYYYMMDD'), #{name}, #{birthDate}, #{gender}
		      , #{address}, #{tel}, #{hireDate}, #{deptId})
	</insert>
	
	<!-- 학과 id 존재 여부 -->
	<select id="validDeptId" resultType="boolean">
	<![CDATA[
		SELECT CASE WHEN COUNT(*) > 0 THEN 'true' ELSE 'false' END
		FROM DEPARTMENT
		WHERE ID = #{deptId}
	]]>
	</select>
	
</mapper>